<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1920, maximum-scale=1.0" name="viewport"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author">
    </head>
    <body style="margin-bottom: -0.5%;
 background: rgba(0, 0, 0, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="desktophd"/>
        <div class="anima-container-center-horizontal"  >
            <div class="desktophd anima-flexbox-container anima-screen " >
                <div class="footercomp anima-flexbox-container">
                    <div class="footer anima-flexbox-container"  >
                        <div class="generalinfo anima-flexbox-container">
                            <img class="iot4tunisisa-0rjsx3" src="../../assets/img/desktop-hd-iot4tunisisa-1@2x.png"/>
                            <div class="ginfo">
                                <div class="io-t4-tunisia-bootcamp-lZWw0L font-class-9">
                                    IoT4Tunisia Bootcamp
                                </div>
                                <div class="tuesday-05-august-2-dkjMaI font-class-4">
                                    Tuesday, 05 August 2020
                                </div>
                                <div class="mentor-nations-tunis-0Uvsgf font-class-4">
                                    MentorNations, Tunisia
                                </div>
                            </div>
                            <div class="contact-us font-class-9">
                                Contact Us
                            </div>
                        </div>
                        <div class="social-media anima-flexbox-container">
                            <a href="https://www.facebook.com/mentornations/">
                            <div class="facebook">
                                <img class="path-x0x8xv" src="../../assets/img/desktop-hd-path-47@2x.png"/>
                                <img class="shape-P51IKW" src="../../assets/img/desktop-hd-shape-22@2x.png"/>
                            </div>
                            </a>
                            <a href="https://www.instagram.com/mentornations.tn/">
                            <div class="instagram anima-flexbox-container">
                                <img class="shape-dwa1kQ" src="../../assets/img/desktop-hd-shape-23@2x.png"/>
                            </div>
                            </a>
                            <a href="https://www.youtube.com/channel/UC1POw-1lZ2FTr7AQEd">
                            <div class="youtube">
                                <img class="shape-nIhdVn" src="../../assets/img/desktop-hd-shape-24@2x.png"/>
                                <img class="path-PkZBIT" src="../../assets/img/desktop-hd-path-48@2x.png"/>
                                <img class="path-BZflaN" src="../../assets/img/desktop-hd-path-49@2x.png"/>
                                <img class="path-W8Paio" src="../../assets/img/desktop-hd-path-50@2x.png"/>
                                <img class="shape-wDYM5S" src="../../assets/img/desktop-hd-shape-22@2x.png"/>
                                <img class="path-9QFeBs" src="../../assets/img/desktop-hd-path-51@2x.png"/>
                                <img class="shape-SQjFXH" src="../../assets/img/desktop-hd-shape-26@2x.png"/>
                            </div>
                            </a>
                            <div class="world-1-qsV8xx">
                            </div>
                            <div class="contact anima-flexbox-container">
                                <div class="contactus anima-flexbox-container">
                                    <div class="at-fdaC2H">
                                    </div>
                                    <div class="contact-mentornation font-class-4">
                                        Contact@mentornations.org
                                    </div>
                                </div>
                                <div class="phone anima-flexbox-container">
                                    <div class="phone-call">
                                        <img class="path-NChnvB" src="../../assets/img/desktop-hd-path-52@2x.png"/>
                                        <img class="path-8qCQNe" src="../../assets/img/desktop-hd-path-53@2x.png"/>
                                        <img class="oval-NN62Or" src="../../assets/img/desktop-hd-oval-2@2x.png"/>
                                        <img class="shape-lXEbhK" src="../../assets/img/desktop-hd-shape-29@2x.png"/>
                                    </div>
                                    <div class="phonenumber font-class-4">
                                        +21628475830
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>