<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../assets/img/favicon.png" rel="shortcut icon"/>
    <meta charset="utf-8"/>
    <meta content="width=1920, maximum-scale=1.0" name="viewport"/>
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
  </head>
  <body style="margin: 0;
  background: rgba(0, 0, 0, 1.0);">
         <div class="anima-container-center-horizontal">
           <div class="desktophd anima-flexbox-container anima-screen ">

    <section id="about">
     <div class="aboutcomp anima-flexbox-container">
        <div class="aboutpara anima-flexbox-container">
            <div class="abouttext anima-flexbox-container">
             <div class="what-is-io-t4-tunisia">
              What is IoT4Tunisia Bootcamp?
             </div>
          <div class="aboutdesc font-class-5">
              Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives to meet for an evening of drinks, pizza and talksThe design uses focus on Steadfast’s Here's an event website I've been working on last year for Mekari Conference.
          </div>
      </div>
      <div class="aboutnumbers anima-flexbox-container">
          <div class="aboutnbandtxt anima-flexbox-container">
              <div class="aboutnb anima-flexbox-container">
                  <div class="about14 font-class-8">
                      14+
                  </div>
                  <div class="about2000 font-class-8">
                      +2000
                  </div>
                  <div class="about6 font-class-8">
                      6+
                  </div>

              </div>
              <div class="abouttxt anima-flexbox-container">
                  <div class="aboutspeakers font-class-5">
                      Speakers
                  </div>
                  <div class="aboutworkshops font-class-5">
                      Workshops
                  </div>
                  <div class="aboutcertificates font-class-5">
                      Certificates
                  </div>
              </div>
          </div>
          <div class="aboutmentoringtxtnb anima-flexbox-container">
              <div class="about1200 font-class-8">
                  1200+
              </div>
              <div class="aboutmentoringtxt font-class-5">
                  Mentoring
              </div>

          </div>
      </div>
  </div>
  <div class="aboutphotos anima-flexbox-container">
      <div class="aboutimggrp1">
          <img class="a55604043-1844282182343351-682267039712149504-o-ZCR40u" src="../../assets/img/desktop-hd-556040431844282182343351682267039712149504o.png"/>
          <img class="img-8831-ExofRx" src="../../assets/img/desktop-hd-img8831.png"/>
          <img class="bitmap-jHS0sG" src="../../assets/img/desktop-hd-bitmap@2x.png"/>
          <img class="a68690850-824583434609769-3421110812724142892-n-iHbY1u" src="../../assets/img/desktop-hd-686908508245834346097693421110812724142892n@2x.png"/>
          <img class="a67831972-157109125471282-4559078980828166750-n-w8tN7j" src="../../assets/img/desktop-hd-678319721571091254712824559078980828166750n.png"/>
      </div>
      <div class="aboutimggrp2 anima-flexbox-container">
          <img class="a67893009-654651571681516-5466693351716293891-n-gzkHsO" src="../../assets/img/desktop-hd-678930096546515716815165466693351716293891n@2x.png"/>
          <img class="a68830412-101022584568587-4067998731776379361-n-PGYjCI" src="../../assets/img/desktop-hd-688304121010225845685874067998731776379361n@2x.png"/>
          <img class="a68709090-2407899326133559-3436044290450013788-n-9h3RDU" src="../../assets/img/desktop-hd-6870909024078993261335593436044290450013788n@2x.png"/>
      </div>
  </div>
     </div>
    </section>
           </div>
         </div>
  </body>
</html>
