<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../assets/img/favicon.png" rel="shortcut icon"/>
    <meta charset="utf-8"/>
    <meta content="width=1920, maximum-scale=1.0" name="viewport"/>
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
  </head>
  <body style="margin: 0;
  background: rgba(0, 0, 0, 1.0);">
         <div class="anima-container-center-horizontal">
            <div class="desktophd anima-flexbox-container anima-screen ">

     <div class="Highlightscomp anima-flexbox-container">
    <div class="ziedbigpic">
        <img class="bitmap-zYLZzT" src="../../assets/img/desktop-hd-bitmap-1.png"/>
        <div class="rectangle-BqlaDq">
        </div>
    </div>
    <div class="Highlights anima-flexbox-container">
        <div class="io-t4-tunisia-bootcamp font-class-10">
            IoT4Tunisia Bootcamp<br />Highlights
        </div>
        <div class="Highlightspara font-class-5">
            Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
        </div>
        <div class="firstimg anima-flexbox-container">
            <div class="calendar anima-flexbox-container">
                <div class="auto-flex3-W1gTls anima-flexbox-container">
                    <img class="shape-zXQJ1u" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                    <img class="path-wxsHEe" src="../../assets/img/desktop-hd-path-2@2x.png"/>
                </div>
                <div class="auto-flex2-HFND18 anima-flexbox-container">
                    <img class="shape-eLVOjv" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                    <img class="shape-Bqu5sz" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                </div>
                <div class="auto-flex-ogTylz anima-flexbox-container">
                    <img class="shape-nWxFcX" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                    <img class="shape-5xRNd3" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                    <img class="path-N8CHnq" src="../../assets/img/desktop-hd-path-1@2x.png"/>
                </div>
                <div class="auto-flex1-1xxfti anima-flexbox-container">
                    <img class="shape-xfirVr" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                    <img class="shape-nAalND" src="../../assets/img/desktop-hd-shape-5@2x.png"/>
                </div>
                <img class="path-0iIiDx" src="../../assets/img/desktop-hd-path-16@2x.png"/>
            </div>
            <div class="interview">
                <img class="path-8A5Dao" src="../../assets/img/desktop-hd-path-7@2x.png"/>
                <img class="path-9t7gY4" src="../../assets/img/desktop-hd-path-8@2x.png"/>
                <img class="path-rxdxLf" src="../../assets/img/desktop-hd-path-9@2x.png"/>
                <img class="shape-A4EKnU" src="../../assets/img/desktop-hd-shape-10@2x.png"/>
                <img class="path-NdvOWR" src="../../assets/img/desktop-hd-path-10@2x.png"/>
                <img class="path-nS11HM" src="../../assets/img/desktop-hd-path-11@2x.png"/>
                <img class="path-4WZKCP" src="../../assets/img/desktop-hd-path-12@2x.png"/>
                <img class="path-HCnMsk" src="../../assets/img/desktop-hd-path-13@2x.png"/>
            </div>
        </div>
        <div class="firstTitle anima-flexbox-container">
            <div class="titleone font-class-7">
                Website design for promotion
            </div>
            <div class="titletwo font-class-7">
                Website design for promotion
            </div>
        </div>
        <div class="firstpara anima-flexbox-container">
            <div class="paraone font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
            <div class="paratwo font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
        </div>
        <div class="secondimg anima-flexbox-container">
            <div class="interview">
                <img class="path-xdQEnl" src="../../assets/img/desktop-hd-path-16@2x.png"/>
                <img class="shape-x3zDKF" src="../../assets/img/desktop-hd-shape-13@2x.png"/>
                <img class="shape-AdlqJg" src="../../assets/img/desktop-hd-shape-14@2x.png"/>
                <img class="path-xxTocC" src="../../assets/img/desktop-hd-path-16@2x.png"/>
            </div>
            <div class="career">
                <img class="path-h9HUkz" src="../../assets/img/desktop-hd-path-3@2x.png"/>
                <img class="path-b1DyJN" src="../../assets/img/desktop-hd-path-4@2x.png"/>
                <img class="path-xxl0dM" src="../../assets/img/desktop-hd-path-5@2x.png"/>
                <img class="shape-I6pTcY" src="../../assets/img/desktop-hd-shape-9@2x.png"/>
                <img class="path-fYqBnR" src="../../assets/img/desktop-hd-path-6@2x.png"/>
            </div>
        </div>
        <div class="secondtitle anima-flexbox-container">
            <div class="titlethree font-class-7">
                Website design for promotion
            </div>
            <div class="titlefour font-class-7">
                Website design for promotion
            </div>
        </div>
        <div class="secondpara anima-flexbox-container">
            <div class="parathree font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
            <div class="parafour font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
        </div>
        <div class="thirdimg anima-flexbox-container">
            <div class="interview-2 anima-flexbox-container">
                <div class="overlap-group1-w4xvAO">
                    <img class="shape-QbmYCT" src="../../assets/img/desktop-hd-shape-12@2x.png"/>
                    <img class="path-7zvYny" src="../../assets/img/desktop-hd-path-23@2x.png"/>
                    <img class="path-7zvYny" src="../../assets/img/desktop-hd-path-23@2x.png"/>
                    <img class="path-RKp2dy" src="../../assets/img/desktop-hd-path-24@2x.png"/>
                    <img class="path-IUp0a5" src="../../assets/img/desktop-hd-path-30@2x.png"/>
                    <img class="path-RB8BFO" src="../../assets/img/desktop-hd-path-30@2x.png"/>
                    <img class="path-a7BRxv" src="../../assets/img/desktop-hd-path-32@2x.png"/>
                    <img class="path-ooGp52" src="../../assets/img/desktop-hd-path-32@2x.png"/>
                    <img class="path-GB6g6b" src="../../assets/img/desktop-hd-path-33@2x.png"/>
                    <img class="path-DgS30l" src="../../assets/img/desktop-hd-path-16@2x.png"/>
                </div>
                <div class="auto-flex-WDkgZ5 anima-flexbox-container">
                    <div class="overlap-group3-mLHivI">
                        <img class="path-DbywRA" src="../../assets/img/desktop-hd-path-30@2x.png"/>
                        <img class="path-x8EnvH" src="../../assets/img/desktop-hd-path-32@2x.png"/>
                    </div>
                    <img class="path-nPTzvu" src="../../assets/img/desktop-hd-path-30@2x.png"/>
                </div>
                <img class="path-s4oIay" src="../../assets/img/desktop-hd-path-32@2x.png"/>
            </div>
            <div class="contract-1">
                <img class="path-qPJJxB" src="../../assets/img/desktop-hd-path-14@2x.png"/>
                <img class="path-9OSx2P" src="../../assets/img/desktop-hd-path-15@2x.png"/>
                <img class="path-vxYbRA" src="../../assets/img/desktop-hd-path-16@2x.png"/>
                <img class="path-VnsIEJ" src="../../assets/img/desktop-hd-path-17@2x.png"/>
                <img class="path-U1TxHN" src=".../../assets/img/desktop-hd-path-18@2x.png"/>
                <img class="shape-tOCoI0" src="../../assets/img/desktop-hd-shape-11@2x.png"/>
                <img class="path-FNFvPs" src="../../assets/img/desktop-hd-path-19@2x.png"/>
                <img class="path-8Wnybq" src="../../assets/img/desktop-hd-path-16@2x.png"/>
                <img class="path-odw9CE" src="../../assets/img/desktop-hd-path-21@2x.png"/>
                <img class="path-GFbmuO" src="../../assets/img/desktop-hd-path-22@2x.png"/>
            </div>
        </div>
        <div class="thirdtitle anima-flexbox-container">
            <div class="fifthtitle font-class-7">
                Website design for promotion
            </div>
            <div class="sixthtitle font-class-7">
                Website design for promotion
            </div>
        </div>
        <div class="thirdpara anima-flexbox-container">
            <div class="fifthpara font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
            <div class="sixthpara font-class-6">
                Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
            </div>
        </div>
    </div>
     </div>
      </div>
    </div>

  </body>
</html>
