<!DOCTYPE html>
<html lang="en">

<head>
    <link href="./img/favicon.png" rel="shortcut icon" />
    <meta charset="utf-8" />
    <meta content="width=1920, maximum-scale=1.0" name="viewport" />
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
    <style>
        label {
            color: white;
        }
    </style>
</head>

<body style="margin-bottom: -0.5%;
 background: rgba(0, 0, 0, 1.0);">
    <input id="anPageName" name="page" type="hidden" value="desktophd" />
    <div class="anima-container-center-horizontal">
        <div class="desktophd anima-flexbox-container anima-screen ">

            <!--<div class="formcomp anima-flexbox-container">
                    <div class="form anima-flexbox-container">
                        <div class="firstrow anima-flexbox-container">
                            <div class="firstrowone anima-flexbox-container">
                                <label class="firstname font-class-3">
                                    Firstname
                                </label>
                                <input class="rectangle-x0bnSj">
                                <label class="mobile font-class-3">
                                    Mobile
                                </label>
                                <input class="rectangle-f7BZMG">
                                <label class="your-motivation font-class-3">
                                    Your Motivation
                                </label>
                            </div>
                            <div class="firstrowtwo anima-flexbox-container">
                                <label class="lastname font-class-3">
                                    Lastname
                                </label>
                                <input class="rectangle-P2txID">
                                <label class="email font-class-3">
                                    Email
                                </label>
                                <input class="rectangle-gYohDw">
                            </div>
                        </div>
                        <div class="secondrow anima-flexbox-container">
                            <label class="age font-class-3">
                                Age
                            </label>
                            <input class="rectangle-IPZyWA" />
                            <label class="region font-class-3">
                                Region
                            </label>
                            <input class="rectangle-YN4k9N">
                        </div>
                    </div>
                    <input class="rectangle-FQRrnJ">
                </div>
                <div class="submitcomp anima-flexbox-container">
                    <button class="submit">
                        Submit
                    </button>
                </div>
            </div>-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="subscribe-now font-class-10" style="text-align: center;">
                            Subscribe Now
                        </div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label>Firstname</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Lastname</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Age</label>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label>Mobile</label>
                                    <input type="number" class="form-control">
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Region</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputAddress2">Your Motivation</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" style="text-align: center;width:100%;">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>