<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../assets/img/favicon.png" rel="shortcut icon"/>
    <meta charset="utf-8"/>
    <meta content="width=1920, maximum-scale=1.0" name="viewport"/>
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
  </head>
  <body style="margin: 0;
  background: rgba(0, 0, 0, 1.0);">
         <div class="anima-container-center-horizontal">
            <div class="desktophd anima-flexbox-container anima-screen ">
              <div class="teamcompone anima-flexbox-container">
                <div class="zied">
                    <img class="a64961707-1978779185560316-9205634156929744896-o-RFkLR2" src="../../assets/img/desktop-hd-6496170719787791855603169205634156929744896o.png"/>
                    <div class="bigzied anima-flexbox-container">
                        <div class="med-zied-cherif font-class-1">
                            Med Zied Cherif
                        </div>
                        <div class="co-program-manager font-class-2">
                            Co-Program Manager
                        </div>
                    </div>
                </div>
                <div class="oumayma">
                    <img class="a69553946-2192830050844262-799053892049436672-o-mGZtqr" src="../../assets/img/desktop-hd-695539462192830050844262799053892049436672o.png"/>
                    <div class="bigoumayma anima-flexbox-container">
                        <div class="oumayma-blel font-class-1">
                            Oumayma Blel
                        </div>
                        <div class="business-development font-class-2">
                            Business Development
                        </div>
                    </div>
                </div>
                <div class="dhia">
                    <img class="a86703908-1485648034942561-8925786663586627584-o-eao5D7" src="../../assets/img/desktop-hd-8670390814856480349425618925786663586627584o.png"/>
                    <div class="bigdhia anima-flexbox-container">
                        <div class="dhia-elhak-guedri font-class-1">
                            Dhia Elhak Guedri
                        </div>
                        <div class="co-program-managertwo font-class-2">
                            Co-Program Manager
                        </div>
                    </div>
                </div>
                <div class="melissa">
                    <img class="a50502941-10156123313488652-2588841973464956928-n-MdyJFO" src="../../assets/img/desktop-hd-50502941101561233134886522588841973464956928n.png"/>
                    <div class="bigmelissa anima-flexbox-container">
                        <div class="melissa-sassi font-class-1">
                            Melissa Sassi
                        </div>
                        <div class="senior-program-manag font-class-2">
                            Senior Program Manager
                        </div>
                    </div>
                </div>
                <div class="youssef">
                    <img class="a68575581-2324613904520229-1273773131172937728-o-zRNfxQ" src="../../assets/img/desktop-hd-6857558123246139045202291273773131172937728o.png"/>
                    <div class="bigyoussef anima-flexbox-container">
                        <div class="youssef-khedher font-class-1">
                            Youssef Khedher
                        </div>
                        <div class="java-script-developer font-class-2">
                            JavaScript Developer
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamcomptwo anima-flexbox-container">
              <div class="learn-from-our-exper font-class-10">
                  Learn From Our Expert<br />Team!
              </div>
              <div class="wessim">
                  <img class="a86649333-1776356169168417-255938363889025024-o-uovOsH" src="../../assets/img/desktop-hd-866493331776356169168417255938363889025024o.png"/>
                  <div class="bigwessim anima-flexbox-container">
                      <div class="wessimbouzezi font-class-1">
                          Wessim Bouzezi
                      </div>
                      <div class="full-stack-developer font-class-2">
                          Full-Stack Developer
                      </div>
                  </div>
              </div>
              <div class="maher">
                  <img class="a93282362-10217458207152714-4951486363254915072-n-86xdDO" src="../../assets/img/desktop-hd-93282362102174582071527144951486363254915072n.png"/>
                  <div class="bigmaher anima-flexbox-container">
                      <div class="maher-jaafar font-class-1">
                          Maher Jaafar
                      </div>
                      <div class="senior-mobile-develo font-class-2">
                          Senior Mobile Developer
                      </div>
                  </div>
              </div>
          </div>
          <div class="teamcompthree anima-flexbox-container">
              <div class="website-design-for font-class-5">
                  Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.<br />Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance for business owners and creatives.
              </div>
              <div class="farah">
                  <img class="a69553946-2192830050844262-799053892049436672-o-718pu8" src="../../assets/img/desktop-hd-695539462192830050844262799053892049436672o.png"/>
                  <img class="rectangle-mgcOeR" src="../../assets/img/desktop-hd-rectangle-9.png"/>
                  <div class="farah-cherif font-class-1">
                      Farah Cherif
                  </div>
                  <div class="co-lead-tech-evangli font-class-2">
                      Co-Lead Tech Evanglist
                  </div>
              </div>
              <div class="ahmed">
                  <img class="a70443595-2100521500052750-4865790469935726592-o-AjNs97" src="../../assets/img/desktop-hd-7044359521005215000527504865790469935726592o.png"/>
                  <div class="bigahmed anima-flexbox-container">
                      <div class="ahmed-ktata font-class-1">
                          Ahmed Ktata
                      </div>
                      <div class="senior-java-script font-class-2">
                          Senior JavaScript Developer
                      </div>
                  </div>
              </div>
          </div>
          <div class="teamcompfour anima-flexbox-container">
              <div class="manelandomniaandadam">
                  <img class="a68575581-2324613904520229-1273773131172937728-o-r4hp9v" src="../../assets/img/desktop-hd-6857558123246139045202291273773131172937728o.png"/>
                  <img class="a70443595-2100521500052750-4865790469935726592-o-xOzCxm" src="../../assets/img/desktop-hd-7044359521005215000527504865790469935726592o.png"/>
                  <img class="a101457766-2789976114570352-8267676512812007424-n-z86h4t" src="../../assets/img/desktop-hd-10145776627899761145703528267676512812007424n.png"/>
                  <div class="bigmanel anima-flexbox-container">
                      <div class="manel-marouani font-class-1">
                          Manel Marouani
                      </div>
                      <div class="social-media-manager font-class-2">
                          Social Media Manager
                      </div>
                  </div>
                  <div class="bigomnia anima-flexbox-container">
                      <div class="omnia-blel font-class-1">
                          Omnia Blel
                      </div>
                      <div class="junior-full-stack font-class-2">
                          Junior Full-Stack Developer
                      </div>
                  </div>
                  <div class="bigadam anima-flexbox-container">
                      <div class="adam-bhouri font-class-1">
                          Adam Bhouri
                      </div>
                      <div class="data-analytist font-class-2">
                          Data Analytist
                      </div>
                  </div>
              </div>
              <div class="mohamedandahlem">
                  <img class="a22552523-1384285831717617-6110681479742342549-n-MPmD34" src="../../assets/img/desktop-hd-2255252313842858317176176110681479742342549n.png"/>
                  <img class="a50502941-10156123313488652-2588841973464956928-n-8Oo7WK" src="../../assets/img/desktop-hd-50502941101561233134886522588841973464956928n.png"/>
                  <div class="bigmohamed anima-flexbox-container">
                      <div class="mohamed-l font-class-1">
                          Mohamed L’abidi
                      </div>
                      <div class="data-scientist font-class-2">
                          Data Scientist
                      </div>
                  </div>
                  <div class="bigahlem anima-flexbox-container">
                      <div class="ahlem-jenhani font-class-1">
                          Ahlem Jenhani
                      </div>
                      <div class="co-lead-tech-evangli2 font-class-2">
                          Co-Lead Tech Evanglist
                      </div>
                  </div>
              </div>
          </div>
            </div>
         </div>
  </body>
</html>
