<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../../assets/img/favicon.png" rel="shortcut icon"/>
    <meta charset="utf-8"/>
    <meta content="width=1920, maximum-scale=1.0" name="viewport"/>
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
  </head>
  <body style="margin: 0;
  background: rgba(0, 0, 0, 1.0);">
         <div class="anima-container-center-horizontal">
          <div class="desktophd anima-flexbox-container anima-screen ">

            <div class="home">
    <img class="img1" src="../../assets/img/desktop-hd-6f2a1732.png"/>
    <img class="img2" src="../../assets/img/desktop-hd-6f2a1732-1.png"/>
    <div class="rectangle-p6bHfG">
    </div>
    <div class="iot4tunisia">
        <span class="span1"> IoT4Tunisia </span><span class="span2">Bootcamp</span>
    </div>
    <div class="empoweryouth">
        Empower Youth Through<br />Technology!
    </div>
    <div class="date font-class-3">
        Tuesday, 05 August 2020
    </div>
    <div class="mentornations font-class-3">
        MentorNations, Tunisia
    </div>
    <div class="mouse-clicker-gRlvaj">
        <img class="shape-Xlx93e" src="../../assets/img/desktop-hd-shape@2x.png"/>
        <img class="oval-xb0Npo" src="../../assets/img/desktop-hd-oval@2x.png"/>
    </div>
    <img class="group-Ho2qZs" src="../../assets/img/desktop-hd-group.png"/>
    <div class="aboutus font-class-3">
        About Us
    </div>
    <div class="rectangle-JXPSlf">
    </div>
    <div class="opportunitybutton anima-flexbox-container getyouropportunity ">
            Get Your Opportunity
    </div>
    <div class="opportunitynav anima-flexbox-container">
        <div class="get-your-opportunity font-class-4">
            Get Your Opportunity
        </div>
    </div>
    <img class="logo4" src="../../assets/img/desktop-hd-iot4tunisisa-1@2x.png"/>
    <img class="arrow" src="../../assets/img/desktop-hd-arrow-copy@2x.png"/>
    <img class="line" src="../../assets/img/desktop-hd-rectangle-5@2x.png"/>
    <div class="title font-class-9">
        IoT4Tunisia Bootcamp
    </div>
    <div class="datenav font-class-4">
        Tuesday, 05 August 2020
    </div>
    <div class="navbar anima-flexbox-container">
        <div class="about font-class-4">
            About
        </div>
        <div class="speakers font-class-4">
            Speakers
        </div>
        <div class="Schedule font-class-4">
            Schedule
        </div>
    </div>
    <div class="mentornationsnav font-class-4">
        MentorNations, Tunisia
    </div>
            </div>
            </div>
          </div>
  </body>
</html>

