<!DOCTYPE html>
<html lang="en">

<head>
    <link href="./img/favicon.png" rel="shortcut icon" />
    <meta charset="utf-8" />
    <meta content="width=1920, maximum-scale=1.0" name="viewport" />
    <meta content="AnimaApp.com - Design to code, Automated." name="author">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <style>
      .responsive-video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.responsive-video iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    

}
    </style>
</head>

<body style="margin-bottom: -0.5%;
 background: rgba(0, 0, 0, 1.0);">
    <input id="anPageName" name="page" type="hidden" value="desktophd" />
    <div class="anima-container-center-horizontal">
        <div class="desktophd anima-flexbox-container anima-screen ">
            <div class="infocomp">
                <div class="responsive-video">
                    <iframe src="https://api.maptiler.com/maps/425b7e35-785c-4ef6-8698-62f28c82b58c/?key=nkmjnM3t4Oj7UnAtWBuR#17.77/36.874673/10.274476/18/5" frameBorder="0" ></iframe>              
                  </div>
                  <div class="Sponsor anima-flexbox-container">
                    <div class="sponsortitle anima-flexbox-container">
                        <div class="sponsored-by">
                            Sponsored By
                        </div>
                        <div class="sponsortxt font-class-3">
                            Website design for promotion of Steadfast's monthly event: CreativeXBusiness is a chance
                        </div>
                    </div>
                    <div class="logo anima-flexbox-container">
                        <div class="mentor-nations2logo">
                            <img class="path-FwKjfo" src="../../assets/img/desktop-hd-path-37.png"/>
                            <img class="path-p2aTYW" src="../../assets/img/desktop-hd-path-38@2x.png"/>
                            <div class="group-1f82UM anima-flexbox-container">
                                <img class="path-vaFk1K" src="../../assets/img/desktop-hd-path-43@2x.png"/>
                                <img class="shape-OMeXMx" src="../../assets/img/desktop-hd-shape-18@2x.png"/>
                                <img class="path-mq0qfj" src="../../assets/img/desktop-hd-path-44@2x.png"/>
                                <img class="path-xjax07" src="../../assets/img/desktop-hd-path-45@2x.png"/>
                                <img class="shape-cyW2JQ" src="../../assets/img/desktop-hd-shape-19@2x.png"/>
                                <img class="path-WVC0xn" src="../../assets/img/desktop-hd-path-46@2x.png"/>
                                <img class="path-oiWSex" src="../../assets/img/desktop-hd-path-39@2x.png"/>
                                <img class="shape-ChGdmj" src="../../assets/img/desktop-hd-shape-15@2x.png"/>
                                <img class="path-cylBrw" src="../../assets/img/desktop-hd-path-40@2x.png"/>
                                <img class="shape-xhC7bt" src="../../assets/img/desktop-hd-shape-16@2x.png"/>
                                <img class="shape-8Y7LDH" src="../../assets/img/desktop-hd-shape-17@2x.png"/>
                                <img class="path-bVThLN" src="../../assets/img/desktop-hd-path-41@2x.png"/>
                                <img class="path-g3b7DF" src="../../assets/img/desktop-hd-path-42@2x.png"/>
                            </div>
                        </div>
                        <img class="logo-mn" src="../../assets/img/desktop-hd-logomn@2x.png"/>
                        <img class="logo-u-s-embassy-tunis" src="../../assets/img/desktop-hd-logousembassytunis.png"/>
                    </div>
                </div>
                <img class="rectangle-vP6mnd" src="../../assets/img/desktop-hd-rectangle-4.png"/>
                <div class="imageonline-co-grayscaledimage-pqLEDW">
                    <img class="imageonline-co-grayscaledimage-mZ1qAP" src="../../assets/img/desktop-hd-imageonline-co-grayscaledimage.png"/>
                    <div class="rectangle-bxWxyp">
                    </div>
                </div>
                <div class="quote">
                    “Digital Literacy is a Human Right!”
                </div>
                <div class="quoteowner">
                    <div class="mentor-nations">
                        MentorNations
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDxiZPLGF_l6dRQUp4TN2NykzUenDfoT0&callback=initMap"
  type="text/javascript"></script>
</html>